<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/dist/util.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/SideNav.js"></script>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/CreateForm.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a asp-controller="Home" asp-action="Index"><h3>KingPim</h3></a>
            </div>
            <ul class="list-unstyled">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle btn btn-outline-dark">Inventory</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li>
                            <a asp-controller="SubCategory" asp-action="Index">Subcategories</a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Products">Products</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle btn btn-outline-dark">Tools</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-controller="Category" asp-action="CreateCategory">Manage Categories</a>
                        </li>
                        <li>
                            <a asp-controller="SubCategory" asp-action="CreateSubCategory">Manage Subcategories</a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="CreateProduct">Create Product</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-outline-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-danger">Logout</a>
                </div>
            </nav>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
