@using System.Linq
@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Home" asp-action="AddProduct" method="post">
    <input type="text" asp-for="@Model" name="Name" />
    <button type="submit">Lägg till</button>
</form>

@foreach (var m in Model)
{
    <p>@m.Name</p>
    @if (m.SubCategoryId != null)
    {
        <p>@m.SubCategory.Name</p>
    }

}