@model IEnumerable<SubCategoryViewModel>
@{
    ViewData["Title"] = "Subcategories";
}

<div class="row">
    <div class="col-md-12">
        <div class="align-self-center">
            <div class="card">
                <div class="card-header">
                    <div class="text-right">
                        <a asp-controller="SubCategory" asp-action="CreateSubCategory" class="btn btn-outline-primary">Create Subcategory</a>
                    </div>
                    Subcategories
                </div>
                <div class="card-body text-center">
                    @foreach (var s in Model)
                    {
                        <div class="card-header btn btn-outline-info form-group">
                            <a asp-controller="SubCategory" asp-action="GetSubCategoryById" asp-route-id="@s.Id" class="btn form-control"><strong>@s.Name</strong></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
